<template>
  <div>
    <HashLoader
      :loading="isLoading"
      :color="'#68d391'"
      :size="100"
      :class="'mt-20'"
    ></HashLoader>
    <px-assets-table v-if="!isLoading" v-bind:assets="assets"></px-assets-table>
  </div>
</template>
<script>
import PxAssetsTable from "@/components/PxAssetsTable";
import api from "@/api";
export default {
  name: "Home",
  components: { PxAssetsTable },
  data() {
    return {
      assets: [],
      isLoading: false,
    };
  },
  created() {
    this.isLoading = true;
    api
      .getAssets()
      .then((assets) => (this.assets = assets.data))
      .finally(() => (this.isLoading = false));
  },
};
</script>
